
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section LoginPage
{
    <a href="/Account/Login" class="list-group-item" id="log">Login</a>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>


        <div style="margin-top:100px;background-color:darkgrey;border-radius:20px;height:300px;">
            <div style="position:absolute;margin-top:50px;width:1000px; margin-left:50px">
                <i>
                    There is an interesting story behind Sadguru's Amrit-Tulya - Tea Shop origin in Hyderabad.
                    It is said that Persian immigrants came to Mumbai’s port in the last century and prior to that in search of a better life and to trade. From Mumbai they migrated to
                    Pune and then to Hyderabad. Along with them came the concept of Sadguru's Amrit-Tulya - Tea Shop
                </i>
                <div style="margin-left:500px;">
                    <img src="~/Images/Tea.gif" alt="Tea Gif" />
                </div>
            </div>

        </div>
    </div>


</body>
</html>
