
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section LoginPage
{
    <a href="/Account/Login" class="list-group-item" id="log">Login</a>
}

<div style="margin-top:100px;background-color:darkgrey;border-radius:20px;height:300px;">
    <div style="position:absolute;margin-top:50px;width:1000px; margin-left:50px">
        <h4>Email Id:</h4><i>amrittea@gmail.com</i><hr />
        <h4>Contact Us:</h4><i>+91-8446591847    <img src="~/Images/Call.gif" style="height:50px;"/></i><hr />
    </div>
</div>

