
@{
    ViewBag.Title = "GetProductDetails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>GetProductDetails</h2>
<table class="table">
    <tbody>
        <tr>
            <td>ProductId</td>
            <td>1</td>
        </tr>
        <tr>
            <td>ProductName</td>
            <td>ac</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>bv</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>nb</td>
        </tr>
    </tbody>
</table>

